* {
  font-family: "Inter", system-ui, sans-serif;
}
.loginForm {
  width: 600px;
  height: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50px;
}

.loginForm input {
  width: 300px;
  padding: 8px 12px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

.loginForm button {
  width: 100px;
  padding: 10px;
  margin: 20px auto;
  display: block;
  /* background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7); */
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.formElements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 5px;
}

.formElements h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.loginForm div {
  background-color: white;
}
