#h-20{
    height: 20%;
}
#h-80{
    height : 80%;
}
.institution-header{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-profile{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    p {
        font-size : 20px;
        margin: 0;
    }
    i{
        font-size : 40px;
    }   
    
}
.institution-Dashboard{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;    
    height : 100%;
    display : grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
}
.dashboard-component{
    cursor : pointer;
    margin-top : auto;
    margin-bottom: 120px;
    border : 2px #222 solid;
    font-family: sans-serif;
    width : 300px;
    height : 300px; 
    border-radius : 30px;         
}
.dashboard-component div{
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction : column;
}
.dashboard-component  i{
    font-size : 80px;
}
.dashboard-component  p{
    font-size : 20px;
}